<div *ngIf="(alerts$ | async)?.length !== 0" class="top-bar">
  <div class="alerts-notification">Alerts ({{(alerts$ | async )?.length}})</div>
  <div class="alerts-actions-container">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>swap_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngFor="let action of sortActions" mat-menu-item>
        <span (click)="onSortBy(action)">{{ action.sortBy }}</span>
      </button>
    </mat-menu>
  </div>
</div>

<div *ngIf="(alerts$ | async)?.length !== 0; then alertList else empty" class="cards-container"></div>

<ng-template #alertList>
  <app-alert *ngFor="let alert of alerts$ | async" [alert]="alert" (alertDismissed)="onAlertDismissed($event)"></app-alert>
  <mat-divider></mat-divider>
</ng-template>
<ng-template #empty>
  <div class="empty-list-container">
    <div class="empty-list-icon">&#x1F4C3;</div> <!-- Example emoji as an icon -->
    <div class="empty-list-message">No items found.</div>
  </div>
</ng-template>
